.navbar-home {
  display: flex;
  justify-content: flex-start; /* Cambiado de flex-end a flex-start */
  align-items: center;         /* Opcional: para alinear verticalmente */
  margin-bottom: 2rem;
  padding-left: 2rem;          /* Opcional: un poco de espacio desde el borde izquierdo */
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2.0rem;
  padding: 0;
  margin: 0;
}

.nav-links li a,
.nav-links li span {
  text-decoration: none;
  color: #000000;
  font-weight: 550;
}

.btn-navbar {
  background-color: #009688;
  color: white;
  padding: 0.4rem 0.9rem;
  border-radius: 6px;
  font-weight: bold;
}

.logout-button {
  background: none;
  border: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  display:center;
  padding:  100;
}
